html,
body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  --font-colour: rgb(31, 34, 37);
  --border: rgb(238, 238, 238);
  --controls-hover-colour: rgb(31, 34, 37);
  --controls-disabled-colour: rgb(202, 202, 202);
  --day-select-background-hover: #27cd41;

  background-color: white;
  font-family: system-ui, -apple-system;
  text-align: center;
  color: var(--font-colour);
}

body.dark {
  --font-colour: rgb(255, 255, 255);
  --border: rgb(56, 56, 56);
  --controls-disabled-colour: rgb(146, 146, 146);

  background-color: #222;
}

.title {
  font-weight: 500;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border);
  margin-block-end: 10px;
}

.container {
  padding-inline: 10px;
}

header {
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-block-end: 10px;
}

.controls {
  display: flex;
  align-items: center;
}

.controls button {
  --webkit-appearance: none;
  cursor: pointer;
  display: flex;
  padding: 5px;
  width: 100%;
  color: var(--font-colour);
  background: transparent;
  border: none;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.controls button:hover:not(:disabled) {
  background-color: rgb(238, 238, 238);
  color: var(--controls-hover-colour);
}

.controls button:disabled {
  cursor: initial;
}

.controls button:disabled {
  color: var(--controls-disabled-colour);
}

.controls .previous-month svg {
  transform: rotate(180deg);
}

/* ***************************** */

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 4px;
}

.day-name {
  font-size: 0.8rem;
}

.weekend {
  color: tomato;
}

.calendar div {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
}

.day {
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.2s, color 0.1s;
}

.day.today {
  background-color: var(--border);
}

.day.today:hover,
.day:hover {
  border-color: transparent;
  background-color: var(--day-select-background-hover);
  color: white;
}
